a{
	color:#fff;
}

ul{
	margin-bottom: 0px;
}
.container{
	width: 1070px;
	margin: 0 auto;
	padding: 0px;
}

.main {
	margin-left: 225px;
	min-height: 960px;
	background: #fff;
}

.editor{
	margin-top: 20px;
	height: 480px;
}

#ue_title{
	margin-bottom:10px;
}


.control{
	margin-top: 20px;
	border: #ddd 1px solid;
	border-radius: 5px;
}

.public .ct_title,.pre_title{
	padding: 5px;
	border-bottom: #ddd 1px solid;
}

.public ul li{
	padding: 5px;
}
.public ul li{

	line-height: 27px;

}
.public ul li span {
	font-size: 12px;
	padding: 4px 6px;
}
.public ul li i {
	width: 14px;
}
.public ul li a{
	margin-left: 5px;
}
.public ul li:nth-child(1) span{
	
}
.public ul li:nth-child(1) span:nth-child(2){
	float: right;
}
.public ul li:nth-child(5){
	}
.public ul li:nth-child(5) span{
	float: right;
}
.public ul li:last-child{
	border-top: 1px solid #ddd;
	background-color: #ddd;
}


.preview{
	margin-bottom: 10px;
}
.pre_img img{
	width: 100%;
	height: 190px;
	cursor: pointer;
}
.pre-submit{
	height: 37px;
	border-top: 1px solid #ddd;

	
}
#preview-save{
	float:right;
	margin: 5px 5px;
	font-size: 12px;
	padding: 4px 6px;
}