/* index页面效果start */

.blog {
	display: inline-block;
	margin-bottom: 20px;
	border-bottom: 1px solid #e5e5e5;
}


.pre-cat {
	float: left;
	color: #222;
	position: relative;
	margin-right: 14px;
	font-size: 14px;
	line-height: 20px;
	background-color: #333;
	-webkit-transition: background 0.3s;
	-o-transition: background 0.3s;
	transition: background 0.3s;
}
.pre-cat:hover {
	background-color: #d14836
}
.pre-cat:hover .pre-catarrow {
	border-left-color: #D14836;
	-webkit-transition: background 0.3s;
	-o-transition: background 0.3s;
	transition: background 0.3s;
}
.pre-catarrow {
	position: absolute;
	height: 0;
	width: 0;
	font-size: 0;
	line-height: 0;
	border: 4px solid transparent;
	_border: 4px solid #fff;
	border-left-color: #333;
	right: -8px;
	top: 7px
}
.pre-catinner a {
	color: white;
	display: block;
	padding: 1px 6px;
	
}
.blog{
	width: 730px;
}

.b-img{
	width: 25%;
	float:left;
}
.b-img img {
	width: 170px;
	height: 120px;
	cursor: pointer;
}
.b-post{
	width: 75%;
	float:right;
	height: 150px;
	cursor: pointer;

}
.b-l1 {
	height: 30px
}
.b-label {
	float: left
}
.b-date,.b-author{
	display: inline-block;
	color: grey;
}
.b-date span,.b-author span{
	color: #000;
}

.b-date>span{
	font-size: 12px;
	line-height: 14px;
	padding: 1px 4px;
}
.b-author>span{
	font-size: 12px;
	line-height: 14px;
	padding: 1px 4px;
}
.b-title {
	float: left;
	font-size: 18px;
	line-height: 24px;
	min-height: 24px;
	display: block;
	padding-right: 35px;
	font-family: "Microsoft Yahei", arial, helvetica, sans-serif;
	font-weight: bold;
	-webkit-transition: background 0.3s;
	-o-transition: background 0.3s;
	transition: background 0.3s;
}
.b-title a{
	color: #333;
}
.b-title a:hover {
	color: #d14836;
}
.b-read {
	float: right
}
.badge{
	padding: 3px 7px;
	border-radius: 10px;
	color: #fff;
	font-size: 12px;
	display: inline-block;
	font-weight: 700;
	vertical-align: baseline;
}
.b-read span {
	background-color: #D14836;
	cursor: default;
	-webkit-transition: background 0.3s;
	-o-transition: background 0.3s;
	transition: background 0.3s;
}
.b-read span:hover {
	background-color: #993300
}
.b-comment {
	float: right;
	margin-right: 5px
}
.b-comment span {
	background-color: #0099CC;
	cursor:default;
	-webkit-transition: background 0.3s;
	-o-transition: background 0.3s;
	transition: background 0.3s;
}
.b-comment span:hover {
	background-color: #0066CC;
}
.b-content{	
	cursor: pointer;
	-webkit-transition: color 0.1s;
	-o-transition: color 0.1s;
	transition: color 0.1s;
}
.b-content:hover{color: #0099CC;}

.b-content{
	clear:both;
	height: 120px;
	overflow: hidden;
	font-size: 14px;
}

.b-content p{
	padding: 0;
	margin: 0;
}

/* 第三例 */
.column3:nth-child(0) {
	margin-right: 80px;
}
.message{
	height: 50px;
	width:300px;
	display: none;
}

.message textarea {
	float: left;
	border: 1px solid #40AA53;
	width: 233px;
	resize:none;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

}
.message textarea:focus {
	border-color: #66afe9;
	outline: 0;
}
.message span {
	float: left;
	padding: 12px 8px;
}
.message span:hover{
	color: yellow;
}

.dia{
	display: none;
	padding:10px 0;
	border-bottom: 1px dashed #ddd;
	width: 280px;

}
.dia span{font-size: 9px;}
.portrait{
	display: inline-block;
	vertical-align: top;	
}
.portrait > a > img{
	width: 36px;
	height: 36px;
	padding: 1px;
}
.dia .body{
	display: inline-block;
	width: 200px;
}

.dia .body .user a{
	color: #6cabe1;
	text-decoration: underline;
	cursor: auto;
}
.dia .body .time{display: block;
color: #9A9A9A;
margin: 5px 0 0 0;}


/*侧边栏三号其他功能*/

