.post{
	padding-right: 20px;
}
.entry-header{
	padding-bottom: 10px;
	border-bottom: 1px dashed grey;
}
.entry-header h1{
	font-size: 24px;
	margin-bottom: 5px;
}
.entry-meta span{
	font-size: 14px;
}
.entry-meta i{
	margin-right: 4px;
	color: grey;
}

.entry-meta a{
	color: #000;
}

.entry-content{
	line-height: 1.7em;
	font-size: 16px;	
	padding-top:20px;
}
.entry-content p{
	text-indent: 1em;
}

.entry-content a{
	color: #0099CC;
	transition: color ease-in-out .3s;
}

.entry-content a:hover{
	color: #009461;
}

.source_link span{
	font-size: 14px;
}