*{
	padding: 0;
	margin: 0;
}
body {

}
body, h1 {
	font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;

	

}
a {
	outline: none;
	text-decoration: none;
}

a:hover {
	text-decoration: none
}
ul {
	list-style: none;
	padding: 0;
	margin: 0
}
li {
	display: list-item;
	text-align: -webkit-match-parent
}

nav {
	height: 30px;
	box-shadow: 0 0.125rem 0.25rem #ddd;
	background-color: #0066CC;
}


header{

}
nav .navigator{
	width: 1070px;
	margin: 0 auto;
}
nav ul li {
	width: 50px;
	float: left;
}
nav ul li a{

	line-height: 30px;
	color: #f1f1f1;
	-webkit-transition: all .2s ease-in;
	-o-transition: all .2s ease-in;
	transition: all .2s ease-in;
}

nav ul li a:hover{
	color:#ccc;
}
.header{
	background-color: #f2f2f2;
}
.banner{
	width: 1070px;
	margin: 0 auto;
}
.logo{
	line-height: 50px;
	font-size: 50px;
	padding: 5px 0;
}
.logo span:nth-child(1){
	color: #666;
}

.logo span:nth-child(2){
	color: #333;
}

.container {
	width: 100%;
	margin-top:20px;
}

.bs-callout{padding: 20px;margin: 20px 0;border: 1px solid #eee;border-left-width: 5px;border-radius: 3px;}
.bs-callout-info{border-left-color: #5bc0de;}

.main{
	width: 1070px;
	margin: 0 auto;
}

.leftPan{
	display: inline-block;
	width: 75%;
	float:left;
}
.rightPan{
	display: inline-block;
	width: 25%;
	float:right;
}

.message{
	display: none;
}
.dias{
	display: none;
}

.col3-title{
	display: inline-block;
	font-size: 17px;
	color: #ff4629;
	margin-bottom: 5px;
}


.newly ul>li>a,.pigeonhole ul>li>a,.other ul>li>a{
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
	width: 250px;
	display: block;
	color:#38485a;
	cursor:pointer;
	line-height: 20px;
}
.newly,.pigeonhole,.other{
	margin-bottom: 10px;
}
.newly ul>li>a:hover,.pigeonhole ul>li>a:hover,.other ul>li>a:hover{
	color:#428bca 
}

.category ul{
	width: 250px;
}

.category ul>li>a{
	display: inline-block;
	padding: 2px 4px;
	color: #fff;
	margin:2px;
	opacity: 0.9;
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;	
}
.category ul>li>a:hover{
	opacity: 0.8;
}
.category ul>li>a:active{
	opacity: 1;
}